<button class="d-flex align-items-center justify-content-center">
    <i class="material-icons">share</i>
    <span class="d-none d-lg-block ms-2 text-nowrap">{{ 'share' | trans }}</span>
</button>
<button class="d-flex align-items-center justify-content-center">
    <i class="material-icons">chat_bubble</i>
    <span class="d-none d-lg-block ms-2 text-nowrap">{{ 'send_message' | trans }}</span>
</button>
