<section class="card card-body mt-4">
    <h3>Contato</h3>
    <hr>
    <div class="d-flex gap-3 mt-2">
        <div class="social-media-wrapper">
            <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> {{ space.email ?? 'não informado' }}</li>
                <li class="list-group-item"><strong>Site:</strong> {{ space.site ?? 'não informado' }}</li>
                <li class="list-group-item"><strong>Telefone:</strong> {{ space.phoneNumber ?? 'não informado' }}</li>
            </ul>
        </div>
    </div>
</section>
