<section class="card card-body mt-4">
    <h3>Redes Sociais</h3>
    <hr>
    <div class="d-flex gap-3 mt-2">
        {% for network, value in space.socialNetworks %}
            <div class="social-media-wrapper">
                <div class="social-media">
                    <div class="social-link">
                        <span class="iconify" data-icon="ph:{{ network }}-logo-light" style="font-size: 1.9rem;"></span>
                        <a href="https://www.{{ network }}.com/{{ value }}" target="_blank" class="text-decoration-none fw-bold">
                            {{ network }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
