.initiative-card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--mid-gray);
    border-radius: 0.4375rem;
    box-shadow: 0 2px 10px var(--box-shadow-color, rgba(0, 0, 0, 0.1));
}

.initiative-card__title {
    font-family: var(--font-open-sans);
    color: var(--btn-publish-custom-color);
    font-size: 1.125rem;
    font-weight: bold;
}

.initiative-card__type {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.text-initiative {
    color: var(--navlink-initiative);
}

.bg-initiative {
    color: var(--white-color);
    background-color: var(--bs-primary);
    font-family: var(--font-open-sans);
    padding: 0.25rem 0.625rem;
    border-radius: 0.9375rem;
    font-size: 0.85rem;
    font-weight: bold;
}

.initiative-img {
    width: 4.125rem;
    height: 4.125rem;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .initiative-img {
        width: 3.4375rem;
        height: 3.4375rem;
    }

    .initiative-card__title {
        font-size: 1rem;
    }
}
