{% block content %}
    <h2>Olá {{ firstName }}</h2>

    <p>O evento <strong>{{ eventName }}</strong> recebeu sua inscrição.</p>
    <p>Esse é o número do seu protocolo:<br> {{ protocol }}</p>
{% endblock %}